*{
    margin: 0;
}

.container{
    background: linear-gradient(135deg,#161A30, #31304D );
    min-height: 96vh;
    width: 100%;
    padding: 10px;
}
.input-field{
    padding: 40px 30px 70px;
    background: #fff;
    margin: 70px auto 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
    min-height: 300px;
}
.form-elements{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.form-elements input{
    border-radius: 30px;
    padding: 10px;
    
}

.form-elements button{
    padding:10px;
    font-size: 16px;
    border-radius: 30px;
    background:#164863 ;
    color: #fff;
    cursor: pointer;
}

.list-container{
    margin-top: 30px;
}

.list-container ul{
    list-style: none;
}

.list-container ul li{
    float: left;
    width: 10em;
}
