*{
    font-style: 'Poppins' sans-serif;

}
.container{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #1C3463, #634C1C);
    padding: 10px;
}
.todo-app{
    background: aliceblue;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 40px 30px 70px;
}
.todo-app h1{
    display: flex;
    align-items: center;
    gap: 3px;
}
.todo-app h1 img{
    height: 60px;
    width: 60px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;

}